/*Menu i toppen*/
div.menuTop {
    background-color: #0a0500;
    overflow: auto;
    white-space: nowrap;
}

div.menuTop a {
    display: inline-block;
    color: #fffefd;
    text-align: center;
    padding: 14px;
    text-decoration: dimgrey;
}

div.menuTop a:hover {
    background-color: #d1d1d1;
}

div.menuTop h1 {
    background-color: #fffefd;
}

body {
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}
