
div.menuTop h2 {
    background-color: #fffefd;
}

body{
    margin: 70px;
}

body{
    background-color: #fffefd;
}

div.menuTop {
    background-color: #0a0500;
}

h2{
    font-size: 150%;
    letter-spacing: 5px;
    font-family: Tahoma;
}