/*selve tabbelen*/
table.tableLook {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px 8px 5px 8px;
}

/* firkant rundt om tabellen */
div.firkantrundtomtabel {
    text-align: center;
    border-style: solid;
    margin-top: 10px;
}

form.Firkant{
    border-style: solid;
    color: #0a0500;
    margin-top: 10px;
    text-align: center;
}

div.table {
    text-align: center;
    border-style: solid;
    margin-top: 10px;
}