
.calendarNavigation{
    border-bottom:1px solid black;
    width:20%;
    margin:0 auto;
}
.calendarNavigation a{
    font-size:30px;
    text-decoration: none;
}
.calendarNavigation a:nth-of-type(2){
    float: right;
}
.day{
    width:13%;
    display:inline-block;
    border-collapse: collapse;
    border-right:1px solid black;
    box-sizing: border-box;
    margin:-3px;
    vertical-align: top;
    padding:5px;
    height:100vh;
}
.day:nth-of-type(8){
    border:none;
}
.day span{}
.day div{
    font-size: 12pt;
}

ul{
    padding:0;
}

ul li{
    display:inline-block;
    width:50px;
}
select{
    display:inline-block;
    width:100px;
}