body{
    background-color: #fffefd;
    margin:0;
}

/*Wrap til centrering*/
.wrap{
    width:50%;
    margin:0 auto;
}
h2 {
    text-align: center;
}

/*header*/
header {
    background-color: #0a0500;
}

h2{
    font-size: 150%;
    letter-spacing: 5px;
    font-family: Tahoma;
}
header {
    background-color: #0a0500;
    overflow: auto;
    white-space: nowrap;
}

header a {
    display: inline-block;
    color: #fffefd;
    text-align: center;
    padding: 14px;
    text-decoration: dimgrey;
}

header a:hover {
    background-color: #d1d1d1;
}

header h1 {
    background-color: #fffefd;
}



/*Formular*/
.genericForm label, input{
    display:block;
    width:100%;
    box-sizing:border-box;
}
.genericForm label{
    margin-top:10px;
}
.genericForm{
    width:100%;
    margin:0 auto;
}
.genericForm div{
    margin:0;
    padding:0;
    width:40%;
    float:left;
}
.genericForm div:nth-of-type(odd){
    margin:0;
    padding:0;
    float:left;
    margin-right:20%;
}
.genericForm input[type="submit"]{
    float:left;
    margin-top:20px;
    width:100px;
}



/*Vagtplan*/
.calendarNavigation{
    border-bottom:1px solid black;
    width:20%;
    margin:0 auto;
}
.calendarNavigation a{
    font-size:30px;
    text-decoration: none;
}
.calendarNavigation a:nth-of-type(2){
    float: right;
}
.day{
    width:13%;
    display:inline-block;
    border-collapse: collapse;
    border-right:1px solid black;
    box-sizing: border-box;
    margin:-3px;
    vertical-align: top;
    padding:5px;
    height:100vh;
}
.day:nth-of-type(8){
    border:none;
}
.day span{}
.day div{
    font-size: 12pt;
}

ul{
    padding:0;
}

ul li{
    display:inline-block;
    width:50px;
}
select{
    display:inline-block;
    width:100px;
}

/*Menu i toppen*/
div.menuTop {
    background-color: #0a0500;
    overflow: auto;
    white-space: nowrap;
}

div.menuTop a {
    display: inline-block;
    color: #fffefd;
    text-align: center;
    padding: 14px;
    text-decoration: dimgrey;
}

div.menuTop a:hover {
    background-color: #d1d1d1;
}

div.menuTop h1 {
    background-color: #fffefd;
}

body {
    margin: 70px;
    text-align: center;
}

/*Table look*/
table.tableLook {
    width: 100%;
    text-align: center;
}
td, th {
    border: solid #dddddd;
    text-align: center;
}

/*firkant rundt om*/
div.firkantrundtomtabel{
    text-align: center;
    border-style: solid;
    margin-top: 10px;
}


/*Knapper*/
.opretKnap a{
    padding: 14px;
}
