body{
    background-color: #fffefd;
    margin:0;
}

/*Wrap til centrering*/
.wrap{
    width:50%;
    margin:30px auto;
    padding:0 5% 5% 5%;
    box-sizing: border-box;
    background-color:lightblue;
    overflow:hidden;
}
h2 {
    text-align: center;
}

/*header*/
h2{
    font-size: 150%;
    letter-spacing: 5px;
    font-family: Tahoma;
}
header {
    width:100%;
    background-color: darkslateblue;
    overflow: hidden;
    background: #4c1e9a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4c1e9a 0%, #5b2ad8 58%, #9a7ee8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4c1e9a 0%,#5b2ad8 58%,#9a7ee8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4c1e9a 0%,#5b2ad8 58%,#9a7ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1e9a', endColorstr='#9a7ee8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    /*http://www.colorzilla.com/gradient-editor/*/
}

header a {
    display: inline-block;
    color: #fffefd;
    text-align: center;
    padding: 14px;
    text-decoration: dimgrey;
}

header a:hover {
    border-radius:20px;
    background-color: #d1d1d1;
}

header h1 {
    width:100%;
    background-color: #fffefd;
    padding:2px 20px;
}



/*Formular*/
.genericForm label, input, textarea{
    display:block;
    width:100%;
    box-sizing:border-box;
}
.genericForm input, textarea{
    border-radius:10px;
    padding:2px 5px 2px 5px;
}

.genericForm label{
    margin-top:10px;
}
.genericForm{
    width:100%;
    margin:0 auto;
}
.genericForm div{
    margin:0;
    padding:0;
    width:40%;
    float:left;
}
.genericForm div:nth-of-type(odd){
    margin:0;
    padding:0;
    float:left;
    margin-right:20%;
}
.genericForm input[type="submit"]{
    float:left;
    margin-top:20px;
    width:100px;
    background-color:white;
}

/*Footer*/

footer{
    padding-left:20px;
    box-sizing: border-box;
    color:white;
    width:100%;
    height:20px;
    position:absolute;
    bottom:0;
    background: #4c1e9a; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4c1e9a 0%, #5b2ad8 58%, #9a7ee8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4c1e9a 0%,#5b2ad8 58%,#9a7ee8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4c1e9a 0%,#5b2ad8 58%,#9a7ee8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c1e9a', endColorstr='#9a7ee8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


/*Vagtplan*/
.calendarNavigation{
    border-bottom:1px solid black;
    width:20%;
    margin:0 auto;
}
.calendarNavigation a{
    font-size:30px;
    text-decoration: none;
}
.calendarNavigation a:nth-of-type(2){
    float: right;
}
.day{
    width:13%;
    display:inline-block;
    border-collapse: collapse;
    border-right:1px solid black;
    box-sizing: border-box;
    margin:-3px;
    vertical-align: top;
    padding:5px;
    height:100vh;
}
.day:nth-of-type(8){
    border:none;
}
.day span{}
.day div{
    font-size: 12pt;
}

ul{
    padding:0;
}

ul li{
    display:inline-block;
    width:50px;
}
select{
    display:inline-block;
    width:100px;
}

/*Menu i toppen*/
div.menuTop {
    background-color: #0a0500;
    overflow: auto;
    white-space: nowrap;
}

div.menuTop a {
    display: inline-block;
    color: #fffefd;
    text-align: center;
    padding: 14px;
    text-decoration: dimgrey;
}

div.menuTop a:hover {
    background-color: #d1d1d1;
}

div.menuTop h1 {
    background-color: #fffefd;
}

/*Table look*/
table {
    margin:0 auto;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 100px;
}
table, td, th{
    border:1px solid #dddddd;

}
td, th {
    text-align: center;
    padding:2px 4px 2px 4px;
}
tr{
    background-color:#dbedff;
}
th{
    background-color:#b9c0ff;
}
tr:nth-of-type(odd){
    background-color:white;
}

/*firkant rundt om*/
div.firkantrundtomtabel{
    text-align: center;
    border-style: solid;
    margin-top: 10px;
}


/*Knapper*/
.opretKnap a{
    padding: 14px;
}
