
table.tableLook {
    border-collapse: collapse;
    width: 100%;
}


/*Knapper til table*/
a.knap1 {
    border-style: double;
    background-color: #00dc0b;
}

a.knap2 {
    border-style: double;
    background-color:red;
}