<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View over activities</title>
    <link rel="stylesheet" type="text/css" href=text/css/>
    <link rel="stylesheet" type="text/css" href=Format.css/>
</head>
<body>

>

    <a><img src="shaking.jpg" alt="Pumpestationen"></a>

</div>

<div class="table">
    <h2>Velkommen til Pumpestation Fritidscenter</h2>
        <a href="vagtplan">Vagtplan</a>
        <a href="vismedlem">Medlemmer</a>
        <a href="VisMedarbejdere">Ansatte</a>
        <a href="visAktivitet">Aktiviteter</a>
        <a href="tilføjAktivitet">Tilføj ny aktivitet</a>
        <a href="login">Login</a>


</div>
</body>
</html>