<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Forside</title>
    <link rel="stylesheet" type="text/css" href=style.css/>
</head>
<body>
<div th:replace="/header"></div>
<div class="firkantrundtomtabel">
    <h2>Velkommen til Pumpestation Fritidscenter</h2>
    <h3>Her kan du håndtere</h3>
    <a class="forsideKnap" href="vagtplan">Vagtplan</a>
    <a class="forsideKnap" href="vismedlem">Medlemmer</a>
    <a class="forsideKnap" href="VisMedarbejdere">Medarbjedere</a>
    <a class="forsideKnap" href="visAktivitet">Aktiviteter</a>
</div>
</body>
</html>