<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>tilføj ansat</title>
    <link rel="stylesheet" type="text/css" href=Format.css/>
    <link rel="stylesheet" type="text/css" href=Employee.css/>

</head>

<body>
<div class="menuTop">
    <h1>Pumpestationen<sub>Fritidscenter</sub></h1>
    <a><img src="logo.png" alt="Pumpestationen"></a>
    <a href="vagtplan">Vagtplan</a>
    <a href="vismedlem">Medlemmer</a>
    <a href="VisMedarbejdere">Ansatte</a>
    <a href="visAktivitet">Aktiviteter</a>
    <a>Login</a>
    <a style="float: right">Tilbage</a>
</div>


<div class="firkantrundtomtabel">
    <h1> Tilmeld ansat</h1>
    <form method="Post" th:action="@{/Opretmedarbejdere}">
        <label>Fornavn: </label><br/>
        <input type="text" th:field="${employee.firstName}" required="true"/><br/><br/>
        <label>Efternavn: </label><br/>
        <input type="text" th:field="${employee.lastName}" required="true"/><br/><br/>
        <label>cpr nummer: </label><br/>
        <input type="text" th:field="${employee.cpr}" required="true"/><br/><br/>
        <label>adresse: </label><br/>
        <input type="text" th:field="${employee.address}" required="true"/><br/><br/>
        <label>Telefon nr.: </label><br/>
        <input type="text" th:field="${employee.phoneNumber}" required="true"/><br/><br/>
        <label>Stilling: </label><br/>
        <input type="text" th:field="${employee.jobPosition}" required="true"/><br/><br/>
        <label>postnr: </label><br/>
        <input type="text" th:field="${employee.zipcode}" required="true"/><br/><br/>
        <input type="submit" value="send"/>
    </form>
</div>
</body>
</html>