<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bruger</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
<div th:replace="/header"></div>

<div class="wrap">
    <h2>Tilføj login til medarbejder</h2>

    <form class="genericForm" method="Post" th:action="@{/opretbruger}">
        <div>
            <label>Email</label>
            <input type="text" th:field="${employee.email}" required="true"/>
        </div>
        <div>
            <label>Kodeord</label>
            <input type="password" th:field="${employee.password}" th:required="${!employee.hasUser}"/>
        </div>
        <input type="hidden" th:field="${employee.ID}"/>
        <input type="hidden" th:field="${employee.hasUser}">
        <input type="submit" value="Send"/>
    </form>
</div>
</body>
</html>