<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Rediger Medlem</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<div th:replace="/header"></div>

<div class="wrap">
    <form class="genericForm" method="Post" th:action="@{/redigerMedlem}">
        <h2>Rediger medlem</h2>
        <div>
            <label> Fornavn på medlem: </label>
            <input type="text" th:field="${member.firstName}" required="true"/>
        </div>
        <div>

            <label>Efternavn på medlem</label>
            <input type="text" th:field="${member.lastName}" required="true"/>
        </div>
        <div>
            <label>Alder på medlem</label>
            <input type="date" th:field="${member.dateOfBirth}" required="true"/>
        </div>
        <div>
            <label>CPR på medlem</label>
            <input type="text" th:field="${member.CPR}" required="true"/>
        </div>
        <div>
            <label>adresse på medlem</label>
            <input type="text" th:field="${member.address}" required="true"/>
        </div>
        <div>
            <label>by på medlem</label>
            <input type="text" th:field="${member.city}" required="true"/>
        </div>
        <div>
            <label>postnr på medlem</label>
            <input type="text" th:field="${member.zipcode}" required="true"/>
            <input type="submit" value="send">

    </form>

</div>


</body>
</html>