<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Rediger ansat</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

<div th:replace="/header"></div>


<div class="wrap">
    <h2>Rediger medarbejder</h2>

    <form class="genericForm" method="post" th:action="@{/redigerMedarbejdere}">

        <div>
            <label>Fornavn: </label>
            <input type="text" th:field="${employee.firstName}"/>
        </div>
        <div>
            <label>Efternavn: </label>
            <input type="text" th:field="${employee.lastName}"/>
        </div>
        <div>
            <label>Telefonnummer</label>
            <input type="text" th:field="${employee.cpr}"/>
        </div>
        <div>
            <label>Adresse</label>
            <input type="text" th:field="${employee.address}"/>
        </div>
        <div>
            <label>Mobil</label>
            <input type="text" th:field="${employee.phoneNumber}"/>
        </div>
        <div>
            <label>Stilling</label>
            <input type="text" th:field="${employee.jobPosition}"/>
        </div>
        <div>
            <label>Postnummer</label>
            <input type="text" th:field="${employee.zipcode}"/>
        </div>
        <div>
            <label>By</label>
            <input type="text" th:field="${employee.city}"/>
        </div>
        <input type="submit" value="Gem">

    </form>
</div>
</body>
</html>