<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Activity</title>
</head>
<body>
    <h1>Du er nu igang med at redigere en aktivitet</h1>
    <form method="post" th:action="@{/editActivity}">
        <label>Navn på Aktivitet: </label>
        <input type="text" th:field="${Activity.name}"/>
        <label>Beskrivelse af Aktivitet: </label>
        <input type="text" th:field="${Activity.description}"/>
        <label>Dato på Aktivitet: </label>
        <input type="date" th:field="${Activity.date}"/>
        <label>Starttidspunkt på Aktivitet: </label>
        <input type="text" th:field="${Activity.startTime}"/>
        <label>Sluttidspunkt på Aktivitet: </label>
        <input type="number" th:field="${Activity.endTime}"/>
    </form>
</body>
</html>

