<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Activity</title>
    <link rel="stylesheet" type="text/css" href=Style.css/>

</head>
<body>

<div th:replace="/header"></div>


<div class="wrap">
    <form method="post" th:action="@{/redigerAktivitet}" class="genericForm">
        <h2>Rediger aktivitet</h2>
        <div>
            <label>Navn på aktivitet: </label>
            <input type="text" th:field="${activity.name}" required="true"/>
        </div>
        <div>
            <label>Beskrivelse af aktivitet: </label>
            <textarea type="text" th:field="${activity.description}" required="true"></textarea>
        </div>
        <div>
            <label>Start dato på aktivitet:</label>
            <input type="date" th:field="${activity.startDate}" required="true"/>
        </div>
        <div>
            <label>Start tid på aktivitet:</label>
            <input type="time" th:field="${activity.startTime}" required="true"/>
        </div>
        <div>
            <label>Slut dato på aktivitet:</label>
            <input type="date" th:field="${activity.endDate}" required="true"/>
        </div>
        <div>
            <label>Slut tid på aktivitet:</label>
            <input type="time" th:field="${activity.endTime}" required="true"/>
        </div>
        <input type="submit" value="Send"/>
    </form>
</div>
</body>
</html>

