<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Slet Medlem</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css"/>
</head>
<body>
<form method="Post" th:action="@{/Member"}/>
<label> Fornavn på medlem: </label>
<input type="text" th:field="${member.firstName}"required="true"/>
<label>Efternavn på medlem</label>
<input type="text" th:field="${member.lastName}"required="true"/>
<label>Alder på medlem</label>
<input type="text" th:field="${member.age}"required="true"/>
<label>CPR på medlem</label>
<input type="text" th:field="${member.CPR}" required="true"/>
<label>ID på medlem</label>
<input type="text" th:field="${member.id}" required="true"/>
<label>Kontingent</label>
<input type="text" th:field="${member.kontingent}" required="true"/>
</body>
</html>