<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Delete Activity</title>
</head>
<body>
    <h1>Du er nu igang med at slette en aktivitet</h1>
    <form action="#" th:action="@{/deleteActivity}" method="post">
        <p th:text="${Activity.name + ' ' +  Activity.description}"></p>
        <input type="hidden" th:field="${Activity.id}">
        <input type="submit" value="JA" class="bottonname">
        <a href="/visAktivitet" class="bottonname">NEJ</a>
    </form>
</body>
</html>