<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Tilføj Medlem</title>
    <link rel="stylesheet" type="text/css" href="tilføjmedlem.css"/>
    <link rel="stylesheet" type="text/css" href=Format.css/>
    <link rel="stylesheet" type="text/css" href=Member.css />

</head>
<div class="menuTop">
    <h1>Pumpestationen<sub>Fritidscenter</sub></h1>
    <a><img src="logo.png" alt="Pumpestationen"></a>
    <a href="vagtplan">Vagtplan</a>
    <a href="vismedlem">Medlemmer</a>
    <a href="VisMedarbejdere">Ansatte</a>
    <a href="visAktivitet">Aktiviteter</a>
    <a href="tilføjAktivitet">Tilføj ny aktivitet</a>
    <a>Login</a>
    <a style="float: right">Tilbage</a>
</div>

<div class="firkantrundtomtabel">
    <h3>Tilføj nyt medlem</h3>
    <form method="Post" th:action="@{/tilføjmedlem}">
        <label> Fornavn på medlem: </label>
        <input type="text" th:field="${member.firstName}" required="true"/>
        <label>Efternavn på medlem</label>
        <input type="text" th:field="${member.lastName}" required="true"/>
        <label>Alder på medlem</label>
        <input type="text" th:field="${member.age}" required="true"/>
        <label>cpr nummer på medlem</label>
        <input type="text" th:field="${member.CPR}" required="true"/>
        <label>Kontingent</label>
        <input type="text" th:field="${member.kontingent}"/>
        <input type="submit" value="Send"/>
    </form>
</div>
</body>
</html>