
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
<div th:replace="/header"></div>

<div class="firkantrundtomtabel">

    <h2>Tilføj medlemmer til aktivitet</h2>
    <form action="/tilføjMedlemTilAktivitet" method="Post">

        <table class="tableLook">
            <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Tilføj</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member: ${memberArray}">
                <td th:text="${member.id}"/>
                <td th:text="${member.firstName}"/>
                <td th:text="${member.lastName}"/>
                <td>
                    <input type="checkbox" name="memberId[]" th:value="${member.id}"/>
                </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Submit">

    </form>

</div>
</body>
</html>