<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title> Creating new activity</title>
    <link rel="Stylesheet" type="text/css" href="Activity.css"/>
</head>
</head>
    <body>
        <h1>Du er nu igang med at oprette en ny aktivitet</h1>
        <form method="Post" th:action="@{/createActivity}">
            <label>Navn på Aktivitet: </label><br/>
            <input type="text" size="50" th:field="${Activity.name}" required="true"/><br/><br/>
            <label>Beskrivelse af Aktivitet: </label><br/>
            <textarea th:field="${Activity.description}" required="true"/></textarea><br/><br/>
            <label>Dato på Aktivitet: </label><br/>
            <input type="date" size="50" th:field="${Activity.date}" required="true"/><br/><br/>
            <label>Starttidspunkt på Aktivitet: </label><br/>
            <input type="text" size="50" th:field="${Activity.startTime}" required="true"/><br/><br/>
            <label>Sluttidspunkt på Aktivitet: </label><br/>
            <input type="text" size="50" th:field="${Activity.endTime}" required="true"/><br/><br/>
            <input type="submit" value="Send">
        </form>
    </body>
</html>