<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Tilføj til vagtplan</title>
</head>
<body>
<form method="post" th:action="@{/createDaySchedule}" th:object="${wrapper}">

    <div th:each="job, stat : ${wrapper.jobs}">

        <input type="hidden"
               th:value="${job.id}"
               th:field="*{jobs[__${stat.index}__].id}"
               th:text="${job.title}"/>

        <select th:name="'job[][]'" required>
            <option   selected="true" disabled="disabled" value="0">Vælg job</option>
            <option
                    th:each="employee, empStat:${wrapper.employees}"
                    th:value="${employee.ID}"
                    th:text="${employee.firstName} + ' ' + ${employee.lastName}">
            </option>
        </select>
        </div>

    <input type="submit" value="Gem"/>
</form>
<!--th:field="*{employees[__${stat.index}__].ID}"-->
</body>
</html>