<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title> Creating new activity</title>
</head>
    <body>
    <div>
        <h1>Opret aktivitet</h1>
        <form class="genericForm" method="Post" th:action="@{/tilføjAktivitet}">
            <div>
                <label>Navn på aktivitet: </label>
                <input type="text" th:field="${activity.name}" required="true"/>
            </div>
            <div>
                <label>Beskrivelse af aktivitet: </label>
                <textarea type="text" th:field="${activity.description}" required="true"></textarea>
            </div>
            <div>
                <label>Start dato og tid på aktivitet:</label>
                <input type="date" th:field="${activity.startDateTime}" required="true"/>
            </div>
            <div>
                <label>Slut dato og tid på aktivitet:</label>
                <input type="date" th:field="${activity.endDateTime}" required="true"/>
            </div>
            <input type="submit" value="Send"/>
        </form>
    </div>
    </body>
</html>