<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title> Creating new activity</title>
    <link rel="Stylesheet" type="text/css" href="Activity.css"/>
</head>
</head>
    <body>
        <h1>Du er nu igang med at oprette en ny aktivitet</h1>
        <form method="Post" th:action="@{/createActivity}">
            <label>Navn på Aktivitet: </label>
            <input type="text" th:field="${Activity.name}" required="true"/>
            <label>Beskrivelse af Aktivitet: </label>
            <input type="text" th:field="${Activity.description}" required="true"/>
            <label>Dato på Aktivitet: </label>
            <input type="date" th:field="${Activity.date}" required="true"/>
            <label>Starttidspunkt på Aktivitet: </label>
            <input type="text" th:field="${Activity.startTime}" required="true"/>
            <label>Sluttidspunkt på Aktivitet: </label>
            <input type="number" th:field="${Activity.endTime}" required="true"/>
            <input type="submit" value="Send">
        </form>
    </body>
</html>