<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View over activities</title>
    <link rel="stylesheet" type="text/css" href=Activity.css/>
    <link rel="stylesheet" type="text/css" href=Format.css/>
</head>
<body>

    <div class="scrollmenu">
        <h1>Pumpestationen<sub>Fritidscenter</sub></h1>
        <a><img src="logo.png" alt="Pumpestationen"></a>
        <a href="vagtplan">Vagtplan</a>
        <a href="vismedlem">Medlemmer</a>
        <a href="VisMedarbejdere">Ansatte</a>
        <a href="visAktivitet">Aktiviteter</a>
        <a href="tilføjAktivitet">Tilføj ny aktivitet</a>
        <a>Login</a>
        <a style="float: right">Tilbage</a>
    </div>

    <div class="table">
        <h2>Velkommen til Pumpestation Fritidscenter</h2>
        <table class="tableLook">
            <thead>
            <tr>
                <th>ID</th>
                <th>Navn</th>
                <th>Beskrivelse</th>
                <th>Dato</th>
                <th>Starttidspunkt</th>
                <th>Sluttidspunkt</th>
                <th>Ansatte</th>
                <th>Medlemmer</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity: ${activitiesArray}" >
                <td th:text="${activity.id}"/>
                <td th:text="${activity.name}"/>
                <td th:text="${activity.description}"/>
                <td th:text="${#dates.format(activity.startDateTime}"/>
                <td th:text="${#dates.format(activity.endDateTime}"/>
                <td/>
                <td/>
                <td>
                    <a th:href="@{'/redigerAktivitet?id='+${activity.id}}" class="knap1">Rediger</a>
                    <a th:href="@{'/sletAktivitet?id='+${activity.id}}" onclick="return confirm('Bekræft sletning')" class="knap2">Slet</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>