<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>View over activities</title>
</head>
<body>
<div>
    <h2>Oversigt over aktiviteter</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>Dato</th>
            <th>Starttidspunkt</th>
            <th>Starttidspunkt</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="activity: ${activitiesArray}">
            <td th:text="${activity.id}"/>
            <td th:text="${activity.name}"/>
            <td th:text="${activity.description}"/>
            <td th:text="${#dates.format(activity.date, 'dd-MM-yyyy')}"/>
            <td th:text="${activity.startTime}"/>
            <td th:text="${activity.endTime}"/>
            <td>
                <a th:href="@{'/redigerAktivitet?id='+${activity.id}}" class="knap">Rediger</a>
                <a th:href="@{'/sletAktivitet?id='+${activity.id}}" onclick="return confirm('Bekræft sletning')" class="knap">Slet</a>


            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>