<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
<div th:replace="/header"></div>
<a th:href="@{'/opretForaeldre?id='+${medlemid}}" class="tilføjKnap" >Tilføj Forældre </a>

<div class="firkantrundtomtabel">
    <h2>Oversigt over ansatte</h2>

    <table class="tableLook">
        <thead>
        <tr>
            <th>ID</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Adresse</th>
            <th>Mobil</th>
            <th>Postnr</th>
            <th>by</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="parent: ${parents}">
            <td th:text="${parent.ID}"/>
            <td th:text="${parent.firstName}"/>
            <td th:text="${parent.lastName}"/>
            <td th:text="${parent.address}"/>
            <td th:text="${parent.phoneNumber}"/>
            <td th:text="${parent.zipcode}"/>
            <td th:text="${parent.city}"/>



            <td>
                <a th:href="@{'/redigereforaeldre?id='+${parent.ID}}" class="knap">Rediger oplysninger</a>

            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>