<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
<div th:replace="/header"></div>
<a class="tilføjKnap" href="Opretmedarbejdere">Tilføj ny medarbejder</a>

<div class="firkantrundtomtabel">
    <h2>Oversigt over ansatte</h2>
    <table class="tableLook">
        <thead>
        <tr>
            <th>Email</th>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Cpr</th>
            <th>Adresse</th>
            <th>Mobil</th>
            <th>Stilling</th>
            <th>by</th>
            <th>Postnr</th>
            <th>Håndter</th>
        </tr>
        </thead>
        <tbody>
        <tr th:field="employee: ${employeeArrayList}">
            <td th:text="${parent.firstName}"/>
            <td th:text="${parent.lastName}"/>
            <td th:text="${parent.cpr}"/>
            <td th:text="${parent.address}"/>
            <td th:text="${parent.phoneNumber}"/>
            <td th:text="${parent.phoneNumber}"/>
            <td th:text="${parent.zipcode}"/>
            <td th:text="${parent.city}"/>



            <td>
                <a th:href="@{'/redigereforældre?id='+${parent.getID()}}" class="knap">Rediger oplysninger</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>