<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
    <div th:replace="/header"></div>

    <a href="Opretmedarbejdere">Tilføj ny ansat</a>

    <div class="firkantrundtomtabel">
        <h3>Oversigt over ansatte</h3>
        <table class="tableLook">
            <thead>
            <tr>
                <th>ID</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Cpr</th>
                <th>Adresse</th>
                <th>Mobil</th>
                <th>Stilling</th>
                <th>by</by></th>
                <th>Postnr</th>

                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employeeArrayList}">
                <td th:text="${employee.ID}"/>
                <td th:text="${employee.firstName}"/>
                <td th:text="${employee.lastName}"/>
                <td th:text="${employee.cpr}"/>
                <td th:text="${employee.address}"/>
                <td th:text="${employee.phoneNumber}"/>
                <td th:text="${employee.jobPosition}"/>
                <td th:text="${employee.city}"/>
                <td th:text="${employee.zipcode}"/>

                <td>
                    <a th:href="@{'/redigerMedarbejdere?ID='+${employee.ID}}" class="knap">Rediger</a>
                    <a th:href="@{'/SletMedarbejder?ID='+${employee.ID}}" onclick="return confirm('Bekræft sletning')">Slet</a>
                    <a th:href="@{'/opretbruger?ID='+${employee.ID}}" class="knap">opret login</a>

                </td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>