<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Vis Medlem</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <a href="tilføjmedlem">tilføj medlem</a>

</head>
<body>
<tr th:each="member: ${memberArray}">
    <label> Fornavn på medlem: </label>
    <input type="text" th:field="${member.firstName}"required="true"/>
    <label>Efternavn på medlem</label>
    <input type="text" th:field="${member.lastName}"required="true"/>
    <label>Alder på medlem</label>
    <input type="text" th:field="${member.age}"required="true"/>
    <label>CPR på medlem</label>
    <input type="text" th:field="${member.CPR}" required="true"/>
    <label>ID på medlem</label>
    <input type="text" th:field="${member.id}" required="true"/>
</body>
</html>