<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
<div th:replace="/header"></div>

<a href="tilføjmedlem" class="opretKnap">Tilføj ny medlem </a>

<div class="firkantrundtomtabel">
    <h1>Oversigt over medlemmer</h1>
    <table class="tableLook">
        <thead>
        <tr>
            <th>Fornavn</th>
            <th>Efternavn</th>
            <th>Alder</th>
            <th>Cpr nr.</th>
            <th>Post nr.</th>
            <th>By</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="member: ${memberArray}">
            <td th:text="${member.firstName}"/>
            <td th:text="${member.lastName}"/>
            <td th:text="${member.age}"/>
            <td th:text="${member.CPR}"/>
            <td th:text="${member.zipcode}"/>
            <td th:text="${member.city}"/>
            <td>
                <a th:href="@{'/redigerMedlem?id='+${member.id}}" class="knap">Rediger</a>
                <a th:href="@{'/sletmedlem?id='+${member.id}}" onclick="return confirm('sletmedlem?id=')" class="knap">Slet</a>

            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>