<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href=Style.css/>
</head>
<body>
    <div th:replace="/header"></div>
    <a class="tilføjKnap" href="Opretmedarbejdere">Tilføj ny medarbejder</a>

    <div class="firkantrundtomtabel">
        <h2>Oversigt over ansatte</h2>
        <table class="tableLook">
            <thead>
            <tr>
                <th>Email</th>
                <th>Fornavn</th>
                <th>Efternavn</th>
                <th>Cpr</th>
                <th>Adresse</th>
                <th>Mobil</th>
                <th>Stilling</th>
                <th>by</th>
                <th>Postnr</th>
                <th>Håndter</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employeeArrayList}">
                <td th:text="${employee.email}"/>
                <td th:text="${employee.firstName}"/>
                <td th:text="${employee.lastName}"/>
                <td th:text="${employee.cpr}"/>
                <td th:text="${employee.address}"/>
                <td th:text="${employee.phoneNumber}"/>
                <td th:text="${employee.jobPosition}"/>
                <td th:text="${employee.city}"/>
                <td th:text="${employee.zipcode}"/>
                <td>
                    <a th:href="@{'/redigerMedarbejdere?ID='+${employee.getID()}}" class="knap">Rediger</a>
                    <a th:href="@{'/SletMedarbejder?ID='+${employee.getID()}}" onclick="return confirm('Bekræft sletning')" class="knap">Slet</a>
                    <a th:href="@{'/opretbruger?ID='+${employee.getID()}}" class="knap">Logininfo</a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
