<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="style.css"/>

    <a href="tilføjmedlem">Tilføj medlem </a>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>alder</th>
        <th>cpr</th>
        <th>id</th>




    </tr>
    </thead>
    <tbody>


    <tr th:each="member: ${memberArray}">
        <td th:text="${member.firstName}"/>
        <td th:text="${member.lastName}"/>
        <td th:text="${member.age}"/>
        <td th:text="${member.CPR}"/>
        <td th:text="${member.id}"/>
        <td th:text="${member.kontingent}"/>

        <td>
            <a th:href="@{'/redigerMedlem?id='+${member.id}}" class="knap">Rediger</a>
            <a th:href="@{'/sletmedlem?id='+${member.id}}" onclick="return confirm('sletmedlem?id=')">Slet</a>

        </td>

    </tr>
    </tbody>
</table>
</div>

</body>